@import url("https://fonts.googleapis.com/css2?family=Bentham&family=Raleway:wght@400;600;700;800&display=swap");

@import "variables/color";
@import "mixins/typography";

body {
  font-family: "Raleway", sans-serif;
  position: relative;
  overflow-x: hidden;
  &.overflow-navbar,
  &.overflow-cart {
    overflow-y: hidden;
  }
  &.overflow-modal {
    header,
    .homepage,
    footer {
      display: none;
    }
  }
}
.wrapper {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 16px;
  padding-left: 16px;
}
.hover-color {
  &-primary {
    transition: 0.5s;
    &:hover {
      color: $primaryColor;
    }
  }
  &-secondary {
    transition: 0.5s;
    &:hover {
      color: $textPrimaryColor;
    }
  }
  &-tertiary {
    transition: 0.5s;
    &:hover {
      color: $textFourthlyColor;
    }
  }
}
.hover-opacity {
  &-primary {
    transition: 0.5s;
    &:hover {
      opacity: 0.6;
    }
  }
  &-secondary {
    transition: 0.5s;
    &:hover {
      opacity: 0.7;
    }
  }
  &-tertiary {
    transition: 0.5s;
    &:hover {
      opacity: 0;
    }
  }
}
.img-block {
  display: block;
  width: 100%;
}
.font {
  &-medium {
    font-weight: 500;
  }
  &-semi-bold {
    font-weight: 600;
  }
  &-bold {
    font-weight: 700;
  }
  &-extra-bold {
    font-weight: 800;
  }
}

@media screen and (min-width: 768px) {
  body {
    &.overflow-navbar {
      overflow-y: unset;
    }
    &.overflow-modal {
      overflow-y: hidden;
      header,
      .homepage,
      footer {
        display: block;
      }
    }
  }
  .wrapper {
    padding: 0 32px;
  }
}

@media screen and (min-width: 992px) {
  .wrapper {
    padding: 0 64px;
  }
}

@media screen and (min-width: 1400px) {
  .wrapper {
    max-width: 1320px;
    padding: 0;
  }
}
